body{
    background-image: url('./hello\ kitty.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* width: 1000%; */
    height: 930px;
    /* background-repeat: no-repeat;
    background-size:cover; */
   
}

h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
}

.textInput{
    margin-left: 700px;
}

.counter{
    /* display: flex; */
    margin-left: 70px;
}

.align {
    display: flex;
}

.language{
    margin-left: 700px;
    
}

.buttons{
    margin-left: 700px;
    padding: 50px;
    /* border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; */
    
}

.greetBtn{
    width: 10%;
    height: 40px;
    
    
}

.resetBtn{
    width: 10%;
    height: 40px;
    
    
}