/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    flex-direction: column;
    background: url(./silver.png) no-repeat center center/cover;
    height:800px;
    width: 100%;
   
}

body::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    
}

h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
    
}

.des{
    margin-left: 550px;
    font-size: 25px;
    font-style: italic;
}

.head{
    background-color: dimgray;
    position: sticky;
    top: 0;
    margin-left: 400px;
    width: 50%;
    
}

.textInput{
    margin-left: 700px;
    
}

.inputName{
    padding: 15px 90px;
    margin: 50px;
    background-color: transparent;
}

.counted{
    padding-top: 50px;
}

.counted label, span{
    /* display: flex; */
    margin-left: 70px;
    padding-top: 50px;
    font-size: 40px;
}

.align {
    display: flex;
}

.language{
    margin-left: 700px;
    font-size: 20px;
    background-color: dimgray;
    position: sticky;
    top: 0;
    margin-left: 400px;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.language label{
    margin: 50px;
    cursor: pointer;
}

.buttons{
    margin-left: 700px;
    padding: 50px;
    cursor: pointer;
    
    
  
}

.greetBtn{
    width: 10%;
    height: 40px;
    background-color: transparent;  
    margin: 50px;
}

.greetBtn:hover{
    cursor: pointer;
    background-color: lavender;
    color: black;
    box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite;
    font-size: 20px;
}

.resetBtn{
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin: 50px;
}

.resetBtn:hover{
    cursor: pointer;
    background-color: lavender;
    color: black;
    box-shadow:0 0 5px floralwhite, 0 0 10px floralwhite, 0 0 15px floralwhite;
    font-size: 20px;
}

.display{
    margin-left: 700px;
    font-size: 40px;
    font-style: italic;
}

.colorChange{
    color: green;
}

.warningColor{
    color: red;
}

.errorMsg{
    font-size:20px;
    padding-left: 800px;
    
}
.storageMsg{
    padding-left: 800px;
    font-size: 25px;
    font-style: italic;

}